*{
    margin : 0px;
    padding : 0px;
}
body{
    color:white;
    background-color: rgb(25, 13, 37);
}
.navbar{
    background-color: rgb(97, 106, 139);
    height:250px;
    display:flex;
    position:sticky;
    top:0;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('videos/kesariya.mp4') no-repeat center center;
    background-size: cover; 
}
.img img{
    margin-left:30px;
    margin-top: 10px;
    border-radius: 20px;
    height:220px;
    border-radius: 50%;
}
.title{
    margin-left: 40px;
    margin-top: 40px;
    color:white;
}
.title h1{
   font-size: 80px;
}
.title h1:hover {
    color: cyan;
    text-shadow: 0px 0px 15px cyan;
    
}

.title  img{
    height:25px;
}
.title p{
    text-decoration: none;
    font-size: 30px;
}
.title h2{
    font-weight: lighter;
}
.main_title{
    margin-top:20px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bolder;
}
.music_track{
    display:flex;
    margin-left:40px;
    margin-top: 20px;
}
.music_track img{
    margin-left:30px;
   
    height:70px;
}
#song1{
    display:flex;
}
.songs p{
    margin-top: 20px;
}
.songs a{
    text-decoration: none;
    margin-top: 20px;
    color:white;
    font-size: 20px;
    font-family: Arial;
}
.song_name{
    margin-left:30px;
}
.songs pre{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: Arial;
}
.songs pre:hover {
    
    color: cyan;
    
}
.navbar:hover {
    background-color:  rgb(47, 50, 80);
    
}

.songs div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    border-radius: 10px;
}

.songs div{
    padding-left:10px;
    padding-right:10px;
}
.songs div{
    display:flex;
}

.info{
    display:flex;
   margin-top:20px;
   

}

.info p{
    margin-bottom: 84px;
    font-size: 20px;
    font-family: Arial;
}
.views{
    color:white;
    font-size:20px;
    font-family: Arial;
    text-align: right;
    justify-content: space-between;
    margin-left:60px;
}
.time{
    color:white;
    font-size:20px;
    font-family: Arial;
    text-align: right;
    justify-content: space-between;
    margin-left: 60px;
}
