*{
    margin:  0px;
    padding: 0px;
   
}
body{
    background-color:black;
    color:white;
}
 .navbar{
    height:70px;
    display: flex;
    align-items: center;
    background-color: black;
    position:sticky;
    top:0;
 }
#logo{
    height:70px;
    
}
#home{
    height:50px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.navbar input{
    width:300px;
    background-color: white;
    margin-bottom:10px;
    margin-left: 10px;
    height:40px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-right:300px;
}
.navbar a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}
.navbar button{
    color: black;
    background-color: white;
    border-radius:30px;
    text-align: center;
    width:80px;
    height:40px;
    font-weight: bolder;
}
.lib{
    background-color: rgb(37, 36, 36);
    height:800px;
    margin-top: 7px;
    margin-left:7px;
    margin-right:7px ;
    border-radius: 20px;
    
}


.lib .title{
    margin-top:10px;
    color:white;
    margin-left:20px;
   
}
.lib  .singer{
    display:flex;
}

.singer img{
    width:180px;
    height:200px;
    border-radius: 50%;
    margin-left:25px;
   
}
.lib .singer_name{
    margin-top:30px;
    display:flex;
    

}
.singer a{
    text-decoration: none;
}
.singer p{
    
    font-size: 20px;
    margin-top:20px;
    margin-left: 47px;
    color:white;
}
.singer_name a{
    font-size: 20px;
    margin-left:50px;
    text-decoration: none;
    color:white;

}
.singer img:hover{
    transform: scale(1.2);
}


.songs_info img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(58, 173, 226, 0.901);
}

#song1,#song2,#song3,#song4,#song5,#song6{
    margin-left: 15px;
    margin-right:15px;
}
.trending_songs{
    margin-top:25px;
}
.songs_info{
    display:flex;
    margin-top:20px;
     margin-left:50px; 
    
}
.songs_info img{
    height:200px;
    border-radius: 15px;
    
}
.songs_info a{
    text-decoration: none;
    color:white;
}
.song_name{
    font-size:20px;
    margin-top:5px;
    margin-left:10px;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.song_artist{
    margin-left:10px;
    margin-top:5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(145, 148, 151)
}
